
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-zxL {
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 2.5077rem;

  .auto-group-x5un-5Tz {
    margin-bottom: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .rectangle-3-sHN {
      margin-right: 77.3rem;
      width: 34rem;
      height: 4.5rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
    .rectangle-4-NE8 {
      width: 32.7rem;
      height: 4.5rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
    }
  }
  .frame-2-uE4 {
    flex-shrink: 0;
    margin: 0rem 31.2rem 3.5rem 33.5rem;
    width: calc(100% - 64.7rem);
    display: flex;
    flex-direction: column;

    .image-2-DEk {
      width: 77.1rem;
      height: 14.4rem;
      position: relative;
      background-size: 106.852% 107.6%;
      background-position: -2.6413rem -2.1255rem;
      background-image: url('REPLACE_IMAGE:ee2a1970b22cafe269c50320baad6615ef2553d5');
      flex-shrink: 0;
    }
    .last-mile-delivery-of-minimum-healthcare-hQp {
      font-family: Inter, 'Source Sans Pro';
      margin-left: 0.5rem;
      font-size: 2.9rem;
      font-weight: 500;
      letter-spacing: 0.551rem;
      color: #636363;
      line-height: 1.2125;
      font-style: italic;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-vn8c-kdz {
    flex-shrink: 0;
    margin-bottom: 5.9rem;
    width: 100%;
    height: 60.9rem;
    position: relative;

    .image-3-sCp {
      height: 57.3rem;
      position: relative;
      left: 0;
      top: 0;
      background-size: 100% 355.521%;
      background-position: 0 -25.2rem;
      background-image: url('REPLACE_IMAGE:fc1c37ddaa41f3c07df62736c10a5cbb27ea8867');
      width: 144rem;
    }
    .did-you-know-that-approx-52-of-the-population-of-the-philippines-resides-in-the-rural-areas-xEG {
      width: 138.7rem;
      top: 57.1rem;
      line-height: 1.2125;
      color: #030303;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      height: 3.8rem;
      position: absolute;
      left: 2.65rem;
      font-size: 3.1rem;
      font-weight: 500;
    }
  }
  .auto-group-lg8t-nj6 {
    position: relative;
    flex-shrink: 0;
    margin-left: 0.3rem;
    width: 143.7rem;
    height: 109.1923rem;

    .our-platform-7Fa {
      font-size: 5.6rem;
      font-weight: 700;
      line-height: 1.2125;
      text-transform: uppercase;
      white-space: nowrap;
      height: 6.8rem;
      position: absolute;
      top: 0.2rem;
      letter-spacing: 0.392rem;
      color: #010101;
      font-family: Inter, 'Source Sans Pro';
      width: 49rem;
      left: 7.7rem;
    }
    .frame-10-nMi {
      left: 7.5rem;
      top: 0;
      width: 54.4rem;
      height: 74.9rem;
      position: absolute;

      .our-platform-796 {
        font-size: 5.6rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 5.6rem;
        line-height: 1.2125;
        letter-spacing: 0.392rem;
        text-transform: uppercase;
        color: #010101;
      }
      .frame-9-pJQ {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .frame-8-a2g {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          width: 100%;

          .frame-1-8Zz {
            background-color: #fdbd5c;
            border-radius: 4rem;
            flex-shrink: 0;
            margin: 0rem 2.7rem 2.2rem 0rem;
            box-sizing: border-box;
            padding: 1.82rem 2.6rem 1.818rem 2.674rem;

            .icon-bolt-bbz {
              object-fit: contain;
              vertical-align: top;
              width: 2.726rem;
              height: 4.3616rem;
            }
          }
          .will-be-serving-more-than-half-of-the-world-population-which-resides-in-the-rural-areas-pzY {
            line-height: 1.2142857143;
            letter-spacing: 0.028rem;
            color: #010101;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 43.7rem;
            font-size: 2.8rem;
            font-weight: 400;
          }
        }
        .auto-group-87v6-WMa {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 2.8rem;

          .frame-7-eya {
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 9.5rem 2.8rem 0rem;
            width: calc(100% - 9.5rem);
            height: 29.7rem;

            .frame-2-z1r {
              margin: 0rem 2.7rem 21.7rem 0rem;
              box-sizing: border-box;
              padding: 2rem;
              background-color: #fdbd5c;
              border-radius: 4rem;
              flex-shrink: 0;

              .icons8-health-50-1-iCk {
                vertical-align: top;
                width: 4rem;
                height: 4rem;
                object-fit: cover;
              }
            }
            .frame-6-2jE {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              height: 100%;

              .will-be-providing-at-home-access-to--zRA {
                font-size: 2.8rem;
                font-weight: 400;
                line-height: 1.2142857143;
                color: #010101;
                flex-shrink: 0;
                margin-bottom: 2.5rem;
                max-width: 34.2rem;
                letter-spacing: 0.028rem;
                font-family: Inter, 'Source Sans Pro';
              }
              .frame-4-tWY {
                flex-direction: column;
                flex-shrink: 0;
                display: flex;

                .laboratory-tests-cxL {
                  font-size: 2.8rem;
                  font-weight: 400;
                  line-height: 1.2142857143;
                  letter-spacing: 0.028rem;
                  color: #010101;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .chronic-treatments-9SU {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.8rem;
                  font-weight: 400;
                  line-height: 1.2142857143;
                  letter-spacing: 0.028rem;
                  color: #010101;
                }
                .doctor-consultations-sNU {
                  letter-spacing: 0.028rem;
                  color: #010101;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.8rem;
                  font-weight: 400;
                  line-height: 1.2142857143;
                }
                .generic-medicines-QNQ {
                  font-weight: 400;
                  line-height: 1.2142857143;
                  letter-spacing: 0.028rem;
                  color: #010101;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.8rem;
                }
                .veterinary-medicines-and-9at {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 2.8rem;
                  font-weight: 400;
                  line-height: 1.2142857143;
                  letter-spacing: 0.028rem;
                  color: #010101;
                }
                .related-treatments-tHa {
                  font-size: 2.8rem;
                  font-weight: 400;
                  line-height: 1.2142857143;
                  letter-spacing: 0.028rem;
                  color: #010101;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
          .frame-5-Dak {
            margin-right: 1.1rem;
            width: calc(100% - 1.1rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .frame-3-B1n {
              padding: 2rem;
              background-color: #fdbd5c;
              border-radius: 4rem;
              flex-shrink: 0;
              margin: 0rem 2.7rem 9rem 0rem;
              box-sizing: border-box;

              .icons8-employees-50-1-Wpk {
                height: 4rem;
                object-fit: cover;
                vertical-align: top;
                width: 4rem;
              }
            }
            .will-be-reducing-out-of-pocket-expenses-of-rural-population-on-basic-healthcare-facilities-in-the-process-help-improve-their-quality-of-life-EVr {
              max-width: 42.6rem;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2142857143;
              letter-spacing: 0.028rem;
              color: #010101;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .frame-18-UQC {
      left: 0;
      top: 84.6rem;
      background-color: #ffde59;
      width: 68.8rem;
      height: 13.1rem;
      position: absolute;

      .rectangle-1-Cb6 {
        width: 10.4rem;
        height: 13.1rem;
        position: absolute;
        left: 58.4rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .frame-17-ipL {
        position: absolute;
        left: 0.8rem;
        top: 4.1rem;
        display: flex;
        align-items: center;
        width: 59.5rem;
        height: 5rem;

        .primary-healthcare-TG8 {
          margin-right: 0.5rem;
          font-size: 4.309rem;
          color: #0a4d93;
          font-family: Inter, 'Source Sans Pro';
          font-weight: 900;
          line-height: 1.1460805955;
          letter-spacing: -0.0431rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .for-all-xig {
          letter-spacing: -0.0431rem;
          color: #ee854e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 4.309rem;
          font-weight: 900;
          line-height: 1.1460805955;
        }
      }
    }
    .frame-19-tMS {
      top: 92.6rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 74.1rem;
      height: 16rem;
      position: absolute;
      left: 66rem;

      .image-2-ozC {
        width: 66.5rem;
        height: 12.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.4rem;
      }
      .last-mile-delivery-of-minimum-healthcare-YRz {
        letter-spacing: 0.435rem;
        font-weight: 500;
        line-height: 1.2125;
        font-style: italic;
        color: #636363;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.9rem;
      }
    }
    .frame-24-ejv {
      position: absolute;
      left: 7.7rem;
      top: 99.5923rem;
      width: 44.1rem;
      height: 9.6rem;

      .frame-23-ynC {
        margin-bottom: 0.8rem;
        width: 100%;
        display: flex;
        align-items: center;

        .frame-20-Y4c {
          height: 4.4rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 92.3077rem;
          flex-shrink: 0;
          margin-right: 2.7rem;
          width: 4.4rem;
        }
        .wwwrooralmedixcom-Svg {
          font-weight: 500;
          line-height: 0.8823529412;
          letter-spacing: 0.034rem;
          color: #0b0b0b;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.4rem;
        }
      }
      .frame-22-a1J {
        display: flex;
        align-items: center;
        margin-right: 7.6rem;
        width: calc(100% - 7.6rem);

        .frame-21-Kja {
          width: 4.4rem;
          height: 4.4rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 84.6154rem;
          flex-shrink: 0;
          margin-right: 2.2rem;
        }
        .item-63-98529-12345-4SG {
          flex-shrink: 0;
          font-size: 3.4rem;
          font-weight: 500;
          line-height: 0.8823529412;
          letter-spacing: 0.034rem;
          color: #0b0b0b;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .frame-33-xnY {
      width: 79.5rem;
      height: 87.6rem;
      left: 64.2rem;
      row-gap: 3rem;
      align-items: center;
      position: absolute;
      top: 0.2rem;
      display: flex;
      flex-direction: column;

      .frame-30-Ezx {
        width: 100%;
        height: 27.3rem;
        position: relative;
        flex-shrink: 0;

        .frame-14-o2U {
          box-sizing: border-box;
          padding: 1.8rem 1.2rem 1.4rem 13.2rem;
          width: 72.3rem;
          height: 27.3rem;
          position: absolute;
          left: 7.2rem;
          top: 0;
          background-color: #000000;

          .frame-13-u5W {
            flex-direction: column;
            width: 100%;
            height: 100%;
            display: flex;

            .our-story-rmS {
              margin-bottom: 0.5rem;
              line-height: 1.2125;
              letter-spacing: 0.072rem;
              color: #ffe16c;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 3.6rem;
              font-weight: 800;
              font-family: Inter, 'Source Sans Pro';
            }
            .having-spent-over-a-decade-working-in-the-primary-healthcare-single-specialty-space-in-india-and-south-east-asia-we-understand-that-the-problem-to-solve-is-that-of-access-affordability-for-basic-healthcare-facilities-for-the-rural-areas-in-the-region-aSY {
              max-width: 57.9rem;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.1428571429;
              letter-spacing: -0.028rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
        .frame-28-zWG {
          height: 17.5rem;
          top: 4.9rem;
          background-repeat: no-repeat;
          padding: 4.2rem 4.1rem 4.9rem 2.5rem;
          width: 15rem;
          position: absolute;
          left: 0;
          background-size: cover;
          background-position: center;
          background-image: url('REPLACE_IMAGE:2:265');
          box-sizing: border-box;

          .icons8-goal-64-2-u7S {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:8026e6562edd79aedef2251c63a570ba37e25dbd');
            width: 100%;
            height: 8.4rem;
            background-size: 100% 100%;
          }
        }
      }
      .frame-31-c1r {
        height: 27rem;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .frame-15-xLc {
          background-color: #000000;
          box-sizing: border-box;
          padding: 3.5rem 23.7rem 3.5rem 13.2rem;
          width: 72.3rem;
          height: 27rem;
          position: absolute;
          left: 7.2rem;
          top: 0;

          .frame-12-H7z {
            height: 7.9rem;
            display: flex;
            flex-direction: column;
            width: 100%;

            .our-vision-SFn {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.5rem;
              font-size: 3.6rem;
              font-weight: 800;
              line-height: 1.2125;
              letter-spacing: 0.072rem;
              color: #ffe16c;
              flex-shrink: 0;
            }
            .primary-healthcare-for-all-ZLQ {
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.0714285714;
              letter-spacing: -0.028rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .frame-27-feL {
          box-sizing: border-box;
          width: 15rem;
          height: 17.5rem;
          left: 0;
          background-size: cover;
          padding: 2.8rem 2.1rem 3.1rem 1.3rem;
          position: absolute;
          top: 4.8rem;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:2:262');

          .icons8-bulb-64-2-Bsa {
            width: 11.6rem;
            height: 11.6rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
      .frame-32-uHn {
        height: 27.3rem;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .frame-16-rTv {
          padding: 3.8rem 13.6rem 3.8rem 12.9rem;
          width: 72rem;
          height: 27.3rem;
          position: absolute;
          left: 7.5rem;
          top: 0;
          background-color: #000000;
          box-sizing: border-box;

          .frame-11-NSG {
            width: 100%;
            height: 10.8rem;
            display: flex;
            flex-direction: column;

            .our-mission-jGp {
              color: #ffe16c;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 3.6rem;
              line-height: 1.2125;
              letter-spacing: 0.072rem;
              white-space: nowrap;
              margin-bottom: 0.4rem;
              font-weight: 800;
            }
            .deliver-affordable-basic-minimum-healthcare-services-till-the-last-mile-ePn {
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.0714285714;
              letter-spacing: -0.028rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 45.5rem;
            }
          }
        }
        .frame-26-wNt {
          top: 4.8rem;
          background-size: cover;
          background-position: center;
          box-sizing: border-box;
          width: 15rem;
          height: 17.5rem;
          position: absolute;
          left: 0;
          background-image: url('REPLACE_IMAGE:2:259');
          padding: 2.4rem 1.8rem 3.1rem 1.2rem;
          background-repeat: no-repeat;

          .icons8-goal-64-2-4Cc {
            object-fit: cover;
            vertical-align: top;
            width: 12rem;
            height: 12rem;
          }
        }
      }
    }
  }
}
